@charset "UTF-8";

@mixin rolling-base {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 400;
}

@mixin rolling-transition($sec) {
	position: relative;
	display: inline-block;
	-webkit-transition: 	-webkit-transform $sec;
	-moz-transition: 	-moz-transform $sec;
	-o-transition: 		-o-transform $sec;
	transition: 			transform $sec;
}

@mixin rolling-transform($x, $y, $z) {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: 	translate3d($x, $y, $z);
	-moz-transform: 	translate3d($x, $y, $z);
	transform: 			translate3d($x, $y, $z);
}

@mixin rolling-transformHover($y) {
	-webkit-transform: 	translateY($y);
	-moz-transform: 	translateY($y);
	-ms-transform: 	translateY($y);
	-o-transform: 		translateY($y);
	transform: 			translateY($y);
}