@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@-moz-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@-o-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
#cubebox {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
#cubebox .animate {
  -webkit-animation: spinning 6s infinite linear;
  -moz-animation: spinning 6s infinite linear;
  -o-animation: spinning 6s infinite linear;
  animation: spinning 6s infinite linear;
}
#cubebox #cube {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 2s linear;
  -moz-transition: -moz-transform 2s linear;
  -o-transition: -o-transform 2s linear;
  transition: transform 2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cubebox #cube div {
  position: absolute;
  width: 160px;
  height: 160px;
  border-width: 1px;
  border-style: dashed;
  border-color: #fff;
  color: #fff;
  text-align: center;
  line-height: 160px;
}
#cubebox #cube div:nth-child(1) {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  transform: translateZ(100px);
}
#cubebox #cube div:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
#cubebox #cube div:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
}
#cubebox #cube div:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
#cubebox #cube div:nth-child(5) {
  -webkit-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  -moz-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}
#cubebox #cube div:nth-child(6) {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}

/****************************************************************
*
*  Set media query
*
*****************************************************************/
@media all and (max-width: 640px) {
  #cubebox {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }
  #cubebox #cube {
    width: 80px;
    height: 80px;
  }
  #cubebox #cube div {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  #cubebox #cube div {
    font-size: 12px;
  }
  #cubebox #cube div:nth-child(1) {
    -webkit-transform: translateZ(80px);
    -moz-transform: translateZ(80px);
    transform: translateZ(80px);
  }
  #cubebox #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(80px);
    -moz-transform: rotateY(90deg) translateZ(80px);
    transform: rotateY(90deg) translateZ(80px);
  }
  #cubebox #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(80px);
    -moz-transform: rotateY(180deg) translateZ(80px);
    transform: rotateY(180deg) translateZ(80px);
  }
  #cubebox #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(80px);
    -moz-transform: rotateY(-90deg) translateZ(80px);
    transform: rotateY(-90deg) translateZ(80px);
  }
  #cubebox #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(80px) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ(80px) rotate(180deg);
    transform: rotateX(-90deg) translateZ(80px) rotate(180deg);
  }
  #cubebox #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(80px);
    -moz-transform: rotateX(90deg) translateZ(80px);
    transform: rotateX(90deg) translateZ(80px);
  }
}
@media all and (max-width: 380px) {
  #cubebox {
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }
  #cubebox #cube {
    width: 50px;
    height: 50px;
  }
  #cubebox #cube div {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  #cubebox #cube div {
    font-size: 10px;
  }
  #cubebox #cube div:nth-child(1) {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    transform: translateZ(50px);
  }
  #cubebox #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
  }
  #cubebox #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(50px);
    -moz-transform: rotateY(180deg) translateZ(50px);
    transform: rotateY(180deg) translateZ(50px);
  }
  #cubebox #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
  }
  #cubebox #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
    transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
  }
  #cubebox #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(50px);
    -moz-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
  }
}
